body{
	margin: 0;
	padding: 0;
}

header{
	padding: 20px 15px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;

}

li{
	display: inline;
	font-family: Helvetica;
	font-size: 0.8em;
}

li a{
	display: inline;
	color: #525252;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

li a:hover{
	text-decoration: underline;
}


.left{
	float: left;
}

.right{
	float:right;
}

#signin{
	background-color: #0091ff;
	border: none;
	tecolor: #000000;
	padding: 5px 8px;
	text-align: center;
	text-decoration: none;
	font-size: 0.8em;
	font-weight: bold;
	border-radius: 2px;
}

#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 250px;
	padding-right:250px;
	width: 270px;
	padding-top:160px;
	padding-bottom: 25px;
}

#searchbox{
	display: block;
	margin-top: 30px;
	margin: auto;
	width: 450px;
	height: 38px;
	box-shadow: 5px 5px 5px gray;

}

.searchbox{
	width: 450px;
	height: 38px;

}

#buttons{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-top: 25px;
	padding-left: 450px;
	padding-right: 450px;
}

.button{
	font-size: 12px;
	padding: 10px;
	background-color: #f0f0f0;
	border-radius: 2px;
	border: 0;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	color: #525252;

}

.subhead{
	display: block;
	font-family: "Arial";
	font-size: 0.8em;
	margin: auto;
	padding-left: 325px;
	padding-right: 325px;
	text-align: center;
}
.subhead a{
	text-decoration: none;
	color: darkblue;
}
.subhead a:hover{
	text-decoration: underline;
}
footer{
	box-sizing: border-box;
	width: 100%;
	position: fixed;
	bottom: 0;
	padding-bottom: 12px;
	background-color: #f0f0f0;
}

.footer{
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-width: 1px 0 0 0;
	border-color: #e5e5e5;
	border-style: solid;
}
